body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-panel {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 30px;
}

.card-layout {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card-title {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", "sans-serif";
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card-description {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", "sans-serif";
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
.card-1 {
  border-radius: 1rem 1rem 0 0;
  background-color: hsl(31, 77%, 52%);
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 1rem 1rem;
}

.btn {
  display: flex;
  width: 8.5rem;
  height: 2.5rem;
  border: 0.2rem solid hsl(0, 0%, 95%);
  border-radius: 2rem;
  font-family: "Lexend Deca", "sans-serif";
  background-color: hsl(0, 0%, 95%);
  justify-content: center;
  align-items: center;
}

.btn-1 {
  color: hsl(31, 77%, 52%);
}
.btn-2 {
  color: hsl(184, 100%, 22%);
}

.btn-3 {
  color: hsl(179, 100%, 13%);
}

.btn-1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

@media only screen and (min-width: 41.2rem) {
  .card-panel {
    flex-direction: row;
    border: 15rem 19rem;
  }

  .card-1 {
    border-radius: 1rem 0 0 1rem;
    background-color: hsl(31, 77%, 52%);
  }

  .card-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 1rem 1rem 0;
  }
}
